layout {
    tab name="Note Taking" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane command="nvim" {
                name "dotfiles"
                cwd "~/dotfiles"
            }
            pane command="nvim" {
                name "notes"
                cwd "~/notes"
                size "40%"
            }
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}

