root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
max_line_length = 100

[Makefile]
indent_style = tab
indent_size = 4

[*.vim]
indent_size = 2

[*.lua]
indent_size = 2

[*.yml]
indent_size = 2

[*.sh]
indent_size = 2

[*.fish]
indent_size = 4

[config/fish/{completions,functions}/**.fish]
max_line_length = off

[*.toml]
indent_size = 4

[*.json]
indent_size = 2

[*.md]
indent_size = 2

[.zshrc]
indent_size = 2

[*.zsh]
indent_size = 2

[{.bashrc,.bash_profile,.bashrc.local,.bash_profile.local}]
indent_size = 2

[{azik_us*.rule}]
charset = euc-jp
end_of_line = lf

[.gitconfig]
indent_size = 4
