[alias]
    ap = add -p
    b = branch
    bd = branch -d
    ck = checkout
    ckb = checkout -b
    cm = commit -m
    d = diff
    dc = diff --cached
    f = fetch
    fp = fetch --prune
    lb = log --graph --pretty=format:'-> %Cred%h%Creset : %s%n  %C(yellow)%d%Creset %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)%n %w(64,4,4)%b%n' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    lba = log --graph --all --pretty=format:'-> %Cred%h%Creset : %s%n  %C(yellow)%d%Creset %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)%n %w(64,4,4)%b%n' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    lg = log --graph --pretty=format:'-> %Cred%h%Creset : %s%n  %C(yellow)%d%Creset %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)%n' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    lga = log --graph --all --pretty=format:'-> %Cred%h%Creset : %s%n  %C(yellow)%d%Creset %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)%n' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    lo = log --graph --pretty=format:'%C(yellow)%d%Creset %Cred%h%Creset : %s %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    loa = log --graph --all --pretty=format:'%C(yellow)%d%Creset %Cred%h%Creset : %s %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    prom = pull --rebase origin master
    pushf = push --force-with-lease
    rh = reset --hard
    rpo = remote prune origin
    rs = reset --soft
    s = status
[core]
    editor = nvim -c \"set fenc=utf-8\"
    pager = delta
[merge]
	ff = false
    conflictstyle = diff3
[pull]
    ff = only
[rebase]
    autoStash = true
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[delta]
    navigate = true
    light = false
    line-numbers = true
[diff]
    colorMoved = default
