[alias]
    ap = add -p
    b = branch
    bc = branch -c
    bd = branch -d
    cm = commit -m
    cf = commit --fixup=HEAD^
    d = diff
    dc = diff --cached
    f = fetch
    fp = fetch --prune
    lb = log --graph --pretty=format:'-> %Cred%h%Creset : %s%n  %C(yellow)%d%Creset %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)%n %w(64,4,4)%b%n' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    lba = log --graph --all --pretty=format:'-> %Cred%h%Creset : %s%n  %C(yellow)%d%Creset %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)%n %w(64,4,4)%b%n' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    lg = log --graph --pretty=format:'-> %Cred%h%Creset : %s%n  %C(yellow)%d%Creset %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)%n' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    lga = log --graph --all --pretty=format:'-> %Cred%h%Creset : %s%n  %C(yellow)%d%Creset %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)%n' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    lo = log --graph --pretty=format:'%C(yellow)%d%Creset %Cred%h%Creset : %s %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    loa = log --graph --all --pretty=format:'%C(yellow)%d%Creset %Cred%h%Creset : %s %C(bold blue)<%an>%Creset %C(cyan)[%ad]%Creset %Cgreen(%cr)' --abbrev-commit --date=format:'%Y/%m/%d %H:%M:%S'
    pre = pull --rebase
    pushf = push --force-with-lease
    rbi = rebase --interactive
    re = restore
    res = restore --staged
    rh = reset --hard
    rpo = remote prune origin
    rs = reset --soft
    s = status --short --branch
    sw = switch
    swc = switch -c
[core]
    editor = nvim -c \"set fenc=utf-8\"
    pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 && echo dark-mode || echo light-mode)"
[merge]
	ff = false
    conflictstyle = diff3
[pull]
    ff = only
[rebase]
    autoStash = true
[interactive]
    diffFilter = delta --color-only --features "$(defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 && echo dark-mode || echo light-mode)"
[add.interactive]
    useBuiltin = false
[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
[delta "light-mode"]
    light = true
[delta "dark-mode"]
    light = false
[diff]
    colorMoved = default
[init]
    defaultBranch = main
