name: Audit Dependency

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Audit Dependency
        run: npm -C config/nvim/lua/config/plugins/node_servers audit --omit=dev

  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Audit Dependency
        run: npm -C config/nvim/lua/config/plugins/node_servers audit --omit=dev
